* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  #ismoy{
    display:none;
  }
  #ibsd5{
    display:none;
  }
  .gpd-header{
    margin:0;
  }
  #il9ql{
    display:none;
  }
  #ibrvi{
    display:none;
  }
  